* {
  box-sizing: border-box;
  background-color: #fdfdfd;
  margin: 0px;
}

/* @font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */

/* 로그인 페이지 CSS */
#login-page {
  margin-top: 10.5rem;
}

#login-logo {
  width: 18%;
}

.login-box {
  width: 15%;
  height: 2.4rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
}

.login-box:focus {
  outline: 0.12rem solid #641eac;
}

#login-btn {
  width: 15%;
  height: 2.4rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #696969;
  background-color: #641eac;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-text-section {
  margin-bottom: 14rem;
}

.login-text-wrapper {
  margin: 0.5rem;
}

.login-text {
  text-decoration: none;
  color: #717171;
  font-size: 1rem;
}

.login-text:hover {
  color: #641eac;
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:visited {
  color: #4c4c4c;
  text-decoration: none;
}

/* footer */
#footer {
  margin-top: 4rem;
}

#footer-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.footer-text {
  color: #717171;
  font-size: 0.9rem;
}

#footer-logo {
  width: 100px;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  position: sticky;
  top: 60rem;
}

/* 회원가입 페이지 CSS */
#signup-wrapper {
  margin-top: 16rem;
}

#signup-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.3rem 0.3rem;
}

.signup-box {
  width: 17%;
  height: 3rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
}

.signup-box:focus {
  outline: 0.12rem solid #641eac;
}

.signup-btn {
  width: 8.2%;
  height: 2.4rem;
  margin: 0.3rem 0.4rem 18.6rem 0.4rem;
  border: 0.1rem solid #696969;
  background-color: #641eac;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* Nav Bar*/
#title-bar {
  background-color: #641eac;
  height: 58px;
  margin-bottom: 2rem;
}

#main-title-logo {
  width: 180px;
  background-color: #641eac;
  position: sticky;
  top: 0.6rem;
  /* margin-top: 0.5rem;
  margin-left: 0.5rem; */
  cursor: pointer;
}

#maypage-text-wrapper {
  position: sticky;
  top: 1.3rem;
  left: 108rem;
  background-color: #641eac;
}

.mypage-text {
  color: white;
  background-color: #641eac;
  margin: 0.5rem;
  cursor: pointer;
}

#search-bar {
  position: relative;
  right: 8.5rem;
  background-color: #641eac;
  margin-bottom: 5rem;
}

#search-box {
  width: 12%;
  height: 2rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  text-align: justify;
}

#search-btn {
  width: 4%;
  height: 2rem;
  margin: 0.3rem;
  border: 0.1rem solid #696969;
  background-color: white;
  color: #641eac;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* 메인페이지 */
#mainpage-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#bookmark-list-wrapper {
  width: 35%;
  border: 0.15rem solid #989898;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
  background-color: #f0f0f0;
  overflow: auto;
}

.folder-wrapper {
  border: 0.15rem solid #989898;
  width: 95%;
  margin: 1rem;
  border-radius: 0.3rem;
  background-color: white;
}

.bookmark {
  border: 0.15rem solid #7f50b0;
  border-radius: 0.3rem;
  margin: 0.3rem;
  background-color: #efe6f8;
  color: #3a3a3a;
  height: 30px;
  padding: 0.2rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.AddBookmarkInfo {
  text-align: center;
  background-color: #f0f0f0;
  border: 0.15rem solid #989898;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  width: 35%;
  box-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.form-wrapper {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

#bookmarkinfo-title {
  background-color: #7f50b0;
  color: white;
  font-size: 20px;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  padding: 0.3rem;
  font-weight: bold;
}

.title-input {
  width: 60%;
  height: 2.4rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
}

.title-input:focus {
  outline: 0.12rem solid #641eac;
}

.submit-button {
  width: 20%;
  height: 2.4rem;
  margin: 0.3rem;
  border: 0.1rem solid #696969;
  background-color: #641eac;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 450px;
  min-width: 70%;
}

#cke-wrapper {
  background-color: #f0f0f0;
}

#cke {
  background-color: #f0f0f0;
}

#bookmark-title {
  background-color: #7f50b0;
  color: white;
  font-size: 20px;
  border-top-left-radius: 0.1em;
  border-top-right-radius: 0.1em;
  padding: 0.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.addbookmark {
  width: 97%;
  border: 0.15rem dotted #bdbdbd;
  border-radius: 0.3rem;
  margin: 0.3rem;
  background-color: white;
}

.add-folder {
  border: 0.18rem dashed #989898;
  width: 95%;
  margin: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.addbookmark-btn {
  border: 0.1rem solid #641eac;
  margin: 0.3rem;
  cursor: pointer;
  background-color: #641eac;
  color: white;
  box-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
}

.addfolder-btn {
  border: 0.1rem solid #641eac;
  margin: 0.3rem;
  cursor: pointer;
  background-color: #641eac;
  color: white;
  box-shadow: 0.05rem 0.05rem rgba(0, 0, 0, 0.3);
}

.single-folder {
  font-weight: bold;
  padding: 0.3rem;
  font-size: 1.2rem;
  text-align: justify;
  background-color: white;
}

.link {
  background-color: #641eac;
}

.disable-background {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000050;
}

.disable-wrapper {
  padding-top: 1rem;
  position: relative;
}

.disable-wrapper.hidden .ck-editor__top {
  display: none;
}

/* 회원정보 페이지 CSS */
#userinfo-wrapper {
  margin-top: 12rem;
}

#userinfo-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0.3rem 0.3rem;
}

.userinfo-box {
  width: 17%;
  height: 3rem;
  padding: 0.9rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  text-align: justify;
}

.userinfo-password-box {
  width: 17%;
  height: 3rem;
  padding: 0.9rem;
  margin: 0.3rem 0.3rem;
  border: 0.1rem solid #acacac;
  background-color: white;
  box-shadow: inset 0.01rem 0.01rem rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
}

.userinfo-password-box:focus {
  outline: 0.12rem solid #641eac;
}

.userifn-btn {
  width: 8.2%;
  height: 2.4rem;
  margin: 0.3rem;
  border: 0.1rem solid #696969;
  background-color: #641eac;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
}
