  .AddBookmarkInfo {
    border: "1px solid black";
    text-align: center;
    background-color: blueviolet;
    width: 700px;
  }
 
  .form-wrapper{
    width: 80%;
    margin: 0 auto;
  }
  
  .title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
  }
  
  .submit-button {
    width: 100px;
    height: 50px;
    /* float: right; */
    font-size: 20px;
    border: none;
    background: rgb(175, 96, 181);
    margin-top: 10px;
    vertical-align: middle;
  }
  
  .ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
    min-width: 500px;
  }